In [1]:
8+8

16

In [2]:
a=8
b=3.5
a+b

11.5

In [3]:
a = 8
a+10

18

In [4]:
22-11

11

In [5]:
m=50
n=30
m-n

20

In [6]:
m=50
60-m

10

In [7]:
20*4

80

In [8]:
num1=6
num2=3
num1*num2

18

In [9]:
num=5
num*4

20

In [10]:
5**2

25

In [11]:
b=2
e=3
b**e #2**3

8

In [12]:
numero= 3 #3 es la base, 2 el exponente
numero**2

9

In [13]:
10/3

3.3333333333333335

In [14]:
10//3

3

In [15]:
20/0

ZeroDivisionError: division by zero

In [16]:
dividendo = 21
divisor = 7

In [17]:
dividendo/divisor

3.0

In [18]:
dividendo/4

5.25

In [19]:
7%2 # 7/2=3 y el resto es igual a 1

1

In [20]:
# números pares con resto 0
print(6%2)
print(12%2)
print(448%2)

0
0
0

In [21]:
# números impares con resto 1
print(9%2)
print(15%2)
print(327%2)

1
1
1

In [22]:
'mano' == 'mano'

True

In [23]:
4 == 2+2

True

In [24]:
4=='4'

False

In [25]:
print(type(4))
print(type('4'))

<class 'int'>
<class 'str'>

In [26]:
4!= "4"

True

In [27]:
9!= 4+5

False

In [28]:
12>3

True

In [29]:
num1 = 12
num2= 16

In [30]:
num1 < num2

True

In [31]:
x = 10

In [32]:
x+=5

In [33]:
print(x)

15

In [34]:
x-=2

In [35]:
print(x)

13

In [36]:
x*=2

In [37]:
print(x)

26

In [38]:
x = 3

In [39]:
x//=3

In [40]:
print(x)

1

In [41]:
x = 10

In [42]:
x**=2

In [43]:
print(x)

100

In [44]:
'Hola '+"Mundo"

'Hola Mundo'

In [45]:
"Hola"+" "+"Mundo"

'Hola Mundo'

In [48]:
"Hola "*3

'Hola Hola Hola '

In [49]:
print(True and True) #True
print(True and False) #False
print(False and True) #False
print(False and False) #False

True
False
False
False

In [50]:
print(True or True) #True
print(True or False) #True
print(False or True) #True
print(False or False) #False

True
True
True
False

In [51]:
print(not True) #False
print(not False) #True

False
True

In [52]:
a=bool(1) #True
b=bool(0) #False

In [53]:
print(a ^ b)

True

In [54]:
a=bool(0) #False
b=bool(0) #False

In [55]:
print(a ^ b)

False

In [56]:
a=bool(0) #False
b=bool(1) #True

In [57]:
print(a ^ b)

True

In [58]:
a=bool(1) #True
b=bool(1) #True
print(a ^ b)

False

In [59]:
num=3.5
print(type(num))

<class 'float'>

In [60]:
int(num) #convertimos a entero

3

In [61]:
int("Hola")

ValueError: invalid literal for int() with base 10: 'Hola'

In [64]:
num = "8"
type(num) #obtenemos el tipo de variable

str

In [65]:
int(num) #convertimos a entero

8

In [66]:
type(num)

str

In [67]:
num= int(num) #reasignamos un valor de tipo entero a la variable num
type(num) #vemos el tipo de variable

int

In [68]:
num= "8.5"
print(type(num))

<class 'str'>

In [69]:
num3=float(num) #convertimos a flotantes y guardamos en una nueva variable

In [70]:
print(type(num)) #tipo de variable string
print(type(num3)) #tipo de variable float

<class 'str'>
<class 'float'>

In [71]:
num=4
print(type(num))

<class 'int'>

In [72]:
num4=float(num) #convertimos en un float y guardamos una nueva variable

In [73]:
print(type(num)) #tipo de variable string
print(type(num4)) #tipo de variable float

<class 'int'>
<class 'float'>

In [76]:
x=10 #declaramos un entero como variable
print(type(x)) #comprobamos el tipo de dato de x
y=str(x) #convertimos a string la variable x, que es un entero
print(type(y)) #imprimimos el tipo de dato de y

<class 'int'>
<class 'str'>

In [77]:
w= 2.2 #declaramos una variable con un dato de tipo float
print(type(w)) #comprobamos el tipo de dato
z= str(w) #convertimos a string la variable w
print(type(z)) #imprimimos el tipo de dato de la variable

<class 'float'>
<class 'str'>

In [5]:
1 << 2

4